*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

body{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.movie-rating-div{
    margin: 20px;
}